body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    background-color: #121212;
}

#main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    background-color: #202020;
}

#content {
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    font-size: larger;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: gray;
}

/* Add a black background color to the top navigation */

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */

.topnav a.active {
    background-color: #04AA6D;
    color: white;

}

.topnav img {
    height: auto;
    width: 24px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.codebox {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgb(40, 44, 52);
    color: white;
    border-left-color: rgb(40, 44, 52);
}

code {
    display: block;
}

#content {
    color: #FFFFFF;
}

.box1 {
    background-color: #3f3f3f;
}

.box2 {
    background-color: #292929;
}

.box3 {
    background-color: #2b2b2b;
}

.box2 img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

#c {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

#modelBox {
    width: 100%;
    height: auto;
}

table {
    border: 1px solid white;
    color: wheat;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 95%;
}

th {
    background-color: #121212;
    padding: 1.5%;
    border: 1px solid white;
    display: table-cell;
    font-weight: bold;
}

td {
    background-color: #333;
    padding: 1.5%;
    border: 1px solid white;
    display: table-cell;
    color: azure;
}

a {
    text-decoration: none;
    color: azure;
}





